#############################################
# Locale & Language
#############################################
d-i debian-installer/locale string ar_SY.UTF-8
d-i localechooser/supported-locales multiselect ar_SY.UTF-8, en_US.UTF-8

#############################################
# Keyboard
#############################################
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/variant select

#############################################
# Network
#############################################
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string edbp-system
d-i netcfg/get_domain string company.local

#############################################
# Time Configuration
#############################################
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Damascus

#############################################
# Root Account
#############################################
d-i passwd/root-login boolean false

#############################################
# Local Administrator Account
#############################################
d-i passwd/user-fullname string Local Administrator
d-i passwd/username string localadmin
d-i passwd/user-default-groups string sudo

# ضع هنا SHA512 Hash حقيقي
d-i passwd/user-password-crypted password $6$qiZztqqKvR.h2Tvt$HkFJIe4z6aomutvVzyTrBBfV4dD0AQLaXesblKANkrk6M7yTB8DBhulflBsDNP6rY3oqLdP8Eu7Y5XOcwSEud0

d-i user-setup/allow-password-weak boolean false

#############################################
# Disk Partitioning (Automatic LVM)
#############################################
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

#############################################
# Bootloader
#############################################
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

#############################################
# SSH Public Key Injection + Employee User Creation
#############################################
d-i preseed/late_command string \
in-target mkdir -p /home/localadmin/.ssh; \
in-target cp /etc/edbp/keys/devops_admin.pub /home/localadmin/.ssh/authorized_keys; \
in-target chown -R localadmin:localadmin /home/localadmin/.ssh; \
in-target chmod 700 /home/localadmin/.ssh; \
in-target chmod 600 /home/localadmin/.ssh/authorized_keys; \
in-target rm -rf /etc/edbp/keys; \
in-target useradd -m -s /bin/bash -G users user2; \
in-target chfn -f "Employee User" user2; \
in-target passwd -l user2

#############################################
# Finalize Installation
#############################################
d-i finish-install/reboot_in_progress note
